@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Merriweather', serif;
    background-color: #e2e2e2;
    text-align: center;
}

.heading {
    margin: 25px 0 50px 0;
    padding: 25px;
    background-color: #95a5a6;
    border-top: 5px #131313 solid;
    border-bottom: 5px #131313 solid;
}

.main-image {
    text-align: center;
}

.main-image img {
    height: 500px;
    width: 68%;
    border: 5px solid #808e9b;
    border-radius: 15px;
}

.facts {
    font-family: 'Open Sans', sans-serif;
    margin: 5rem 0 5rem 0;
    padding: 2.5rem 15rem 2.5rem 15rem;
    text-align: justify;
    background-color: #95a5a6;
    font-size: 1rem;
}

.fact_title {
    font-family: 'Merriweather', serif;
    margin-bottom: 2.5rem;
    text-align: center;
    color: white;
}

.facts li {
    margin: 5px;
}